{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kodchasan:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'account/style.css' %}">
    <script src="{% static 'account/app.js' %}"></script>
    <title>Sign In</title>
</head>
<body>

    <div class="all">
        <nav class="navbar">
            <div class="logo">Web3bridge Meet</div>
            <div class="menu">
                <button class="button"  onclick="activateButton(this)"> <a href="{% url 'account_signup' %}">Register</a></button>
                <button class="button" id='login' style="background: #333;" onclick="activateButton(this)"> <a href="{% url 'account_login' %}">Login</a></button>
            </div>
        
            <div class="menu-toggle" onclick="toggleMenu()">
                <div class="toggle-icon" id="toggleIcon">&#9776;</div>
                
                <div class="menu-buttons">
                    <div class="cancel-icon" id="cancelIcon" style="display:none;">&#10006;</div>
                    <button class="button" onclick="activateButton(this)"> <a href="{% url 'account_signup' %}">Register</a></button>
                    <button class="button" onclick="activateButton(this)"> <a href="{% url 'account_login' %}">Login</a></button>
                </div>
            </div>
        </nav>
    
    <form method="post" action="{% url 'signin' %}">
        
        <div class="cent">
            <p>Web3bridge Meet</p>
            <p> <a href="#login">login</a></p>
        </div>
        
        {% csrf_token %}

        <label for="email">Email address:</label>
        <input type="email" id="email" name="email" required>
    
        <label for="password">password:</label>
        <input type="password" id="password" name="password" required>
    
        <div class="additional-options">
            <label class="checkbox-container">Remember this device
                <input type="checkbox" name="remember-me">
                <span class="checkmark"></span>
            </label>
            <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
        </div>
    
        <button class="reg" type="submit">Log in</button>
        <div class="line-container">
            <hr>
            <div class="content">or log in with</div>
            <hr>
           
        </div>
        <a href="{% url 'github_login' %}" class="github-button" type="submit">
            <img src="{% static 'account/images/githublogo.png' %}" alt="GitHub Logo">
            GitHub
        </a>
    </form>
</div>
<script src=""></script>
</body>
</html>
