<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kodchasan:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="app.js" defer></script>

    <title>Sign Up</title>
</head>
<body>

    <div class="all">
        <nav class="navbar">
            <div class="logo">Web3bridge Meet</div>
            <div class="menu">
                <button class="button" style="background: #333;" onclick="activateButton(this)"> <a href="#">Register</a></button>
                <button class="button" onclick="activateButton(this)"> <a href="/acounts/login.html">Login</a></button>
            </div>
        
            <div class="menu-toggle" onclick="toggleMenu()">
                <div class="toggle-icon" id="toggleIcon">&#9776;</div>
                <div class="cancel-icon" id="cancelIcon" style="display:none;">&#10006;</div>
                <div class="menu-buttons">
                    <button class="button" onclick="activateButton(this)"> <a href="signup.html">Register</a></button>
                    <button class="button" onclick="activateButton(this)"> <a href="login.html">Login</a></button>
                </div>
            </div>
        </nav>
    
    <form>
        {% csrf_token %}
        
        <div class="cent">
            <p>Web3bridge Meet</p>
            <p> <a href="#register">Register</a></p>
        </div>
        
        <label for="name">Name:</label>
        <input type="text" id="username" name="username" required>
        
        <label for="stack">Class/ Stack:</label>
        <select class="input" id="stack" name="stack" required>
            <option value="" disabled selected></option>
            <option value="Cartesi">Cartesi</option>
            <option value="Web3">Web3</option>
            <option value="Web2">Web2</option>
        </select>
        
        <label for="cohort">Cohort:</label>
        <select class="input" id="cohort" name="cohort" required>
            <option value="" disabled selected></option>
            <option value="Cartesi">Cartesi</option>
            <option value="Web3">Web3</option>
            <option value="Web2">Web2</option>
        </select>
        
        <label for="email">Email address:</label>
        <input type="email" id="email" name="email" required>
    
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    
        <label for="confirm-password">Confirm Password:</label>
        <input type="password" id="confirm-password" name="confirm-password" required>
    
        <div class="additional-options">
            <label class="checkbox-container">Remember this device
                <input type="checkbox" name="remember-me">
                <span class="checkmark"></span>
            </label>
            <a href="#forgot-password">Forgot Password?</a>
        </div>
    
        <button  class="reg" type="submit">Sign Up</button>
        <div class="line-container">
            <hr>
            <div class="content">or register with</div>
            <hr>
           
        </div>
        <button class="github-button" type="submit">
            <img src="images/githublogo.png" alt="GitHub Logo">
            GitHub
        </button>
    </form>
</div>
</body>
</html>
