

body {
    font-family: 'Kodchasan', sans-serif;
    background-color: #333;
    height: 100%;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
}
.cent {
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    font-weight: bold;
}
.cent a{
    text-decoration: none;
    font-weight: bold;
}



.button {
    font-family: 'Kodchasan', sans-serif;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    background-color: #eee;
    cursor: pointer;
}

.navbar {
    background-color: #fff;
    overflow: hidden;
    color: black;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 30px;
}

.logo {
    font-weight: bold;
   margin: 15px;
    order: 1; 
}

.menu {
    display: flex;
    gap: 10px;
    order: 2; 
}

.menu a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #eee;
    cursor: pointer;
}
.menu-toggle {
    font-size: 1.5em;
    cursor: pointer;
    display: none;
}


@media screen and (max-width: 768px) {
    body {
        padding-left: 5%;
        padding-right: 5%;
    }

    .container {
        flex-direction: column;
    }

    .navbar {
        align-items: center; 
    }

    .logo {
        margin: 15px auto; 
        order: 1;
    }

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        border: 1px solid #fff;
    }

    .menu a {
        padding: 15px;
        text-align: center;
        display: block;
        border-bottom: 1px solid #fff;
    }

    .menu-toggle {
        display: block;
        margin-right: 15px;
    }

    form {
        padding: 0 10%;
    }

    .reg {
        width: 100%;
    }
    
    .github-button {
        width: 100%;
    }
}

.all {
    
    background-color: #fff;
    
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top:5px;
}
form{
    padding:0 20% 15px 20%;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
.reg {
    width: 80%;
    padding: 8px;
    margin: 0 auto; 
    box-sizing: border-box;
    text-align: center;
    display: block; 
    font-weight: bold;
}
.input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.additional-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.checkbox-container:hover input ~ .checkmark {
    background-color: #ddd;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #333;
    border: 1px solid #333;
}

.checkbox-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


.additional-options a {
    color: hsl(0, 100%, 50%);
    text-decoration: none;
}

.additional-options a:hover {
    text-decoration: none;
}


.line-container {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

.line-container hr {
    display: inline-block;
    width: 30%;    
    border: 0;
    height: 1px;
    background: #ccc;
}

.content {
    display: inline-block;
    background-color: #fff;
    padding: 0 10px;
}

.github-button {
    width: 60%;
    margin: auto; 
    box-sizing: border-box;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #fff; 
    color: #333;
    border: 2px solid #333; 
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.menu button.active {
    background-color: #333; 
    color: #fff; 
}
.github-button img {
    width: 20px; 
    margin-right: 10px; 
}
.menu-toggle {
    font-size: 1.5em;
    cursor: pointer;
    display: none; /* Initially hide the toggle button */
}

@media screen and (max-width: 768px) {
    .menu-buttons {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #fff; /* Adjust as needed */
        position: absolute;
        top: 60px;
        left: 0;
        width: 40%;
        height: 100px;
        padding: 30px;
        margin: 30px;
        transition: all 0.3s ease-in-out;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add shadow for a better look */
        border-radius: 5px; /* Add border-radius for rounded corners */
    }

    .menu-toggle {
        display: flex; /* Show the toggle button on small screens */
        margin-left: 15px; /* Adjust margin for spacing from the left */
    }

    .menu-buttons a {
        color: #333; /* Adjust as needed */
        padding: 10px; /* Add padding for better spacing */
        text-align: center;
        width: 100%; /* Make links take full width */
        transition: background-color 0.3s ease-in-out;
    }

    .menu-buttons a:hover {
        background-color: #ddd; /* Adjust as needed */
    }

    .menu-buttons.active {
        display: flex;
    }

    .cancel-icon {
        display: none;
        font-size: 1.5em;
        cursor: pointer;
        align-self: flex-end;
        margin-right: 15px; /* Add margin for spacing */
        color: #333; /* Adjust as needed */
    }

    .menu-toggle .toggle-icon {
        margin-right: 15px; /* Add margin for spacing */
    }

    .menu-buttons.active + .cancel-icon {
        display: block;
    }
}